.st-form-groups {
  .st-form-groups__group:not(.st-form-groups__group--visible) {
    height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all .2s;
  }
  .st-form-groups__group.st-form-groups__group--visible {
    opacity: 1;
    visibility: visible;
    overflow: hidden;
    transition: all .2s;
  }
}
