@keyframes st-form-groups-fade-in {
  0% {
    transform: scale(0, 0);
    transform-origin: top left;
    opacity: 0;
  }
  100% {
    transform: scale(1, 1);
    transform-origin: top left;
    opacity: 1;
  }
}

.st-form-groups {
  .st-form-groups__group--visible {
    animation: st-form-groups-fade-in 0.2s;
  }
}
